<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Node.js on Back4app</title>
        <link rel="shortcut icon" href="/favicon.png" type="image/png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h3 class="mt-3"><a href="https://github.com/duplxey/nodejs-back4app">nodejs-back4app</a></h3>
            <p>This project is used as a demonstration on how to deploy a <a href="https://nodejs.org/en/">Node.js</a> application to <a href="https://back4app.com">Back4app</a>.</p>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>